@import "./normalize.scss";
@import "./CSS-grid.scss";

.container{
    padding: 50px;
    .testimonial{
        background-color: #fef8fb;
        width: 100%;
        height: 280px;
        padding: 20px;
        position: relative;
        .img{
            position: absolute;
            right: 60px;
            bottom: -80px;
        }
    }
}

